# Frontend Firebase & Vite Configuration Template
VITE_FIREBASE_API_KEY=AIzaSyCjciJ_pYfab5D0k8XAvjxtjOhqMTil-O0
VITE_FIREBASE_AUTH_DOMAIN=hostel-management-system-78566.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=hostel-management-system-78566
VITE_FIREBASE_STORAGE_BUCKET=hostel-management-system-78566.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=634350989098
VITE_FIREBASE_APP_ID=1:634350989098:web:0b2ca4acd3ee80aae9f853
VITE_FIREBASE_MEASUREMENT_ID=G-ZF9LWGBTZ8
VITE_FIREBASE_VAPID_KEY=BH961-N2b0PmsR0_pYfab5D0k8XAvjxtjOhqMTil-O0
VITE_BACKEND_URL=http://localhost:5000
